@use "../styles" as *;


:root {
  --color-text: #535353;
}

html {
  height: 100%;
}

body {
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: var(--font-primary), var(--font-secondary);
  height: 100%;
  color: var(--color-text);
  // background: linear-gradient(rgba(87, 33, 2, 0.589)), url("/background.jpg") center / cover no-repeat fixed;
  background: linear-gradient(rgba(78, 29, 0, 0.445)), url("/background.jpg") center bottom / cover no-repeat fixed;
}