.container {
}

.header {
  text-align: center;
}

.title {
  text-transform: capitalize;
}

.subtitle {
  @include font-secondary;

  display: inline;
  border-bottom: 2px var(--color-text) solid;
  padding: 0 1rem;
}
